<div id="address-book" class="overlay-popup overlay-popup--address-book">
    <div class="inner sh-block">
        <div class="popup-close"></div>
        <h4 class="sh-border">Address book</h4>
        <div id="address-book-content" class="scroll-bar-custom"></div>
        <div class="address-book-actions">
            <div class="icon-btn icon-plus address-book-action address-book-action--add popup-trigger" stan-popup="address-book-add"></div>
            <div class="icon-btn icon-trash-can address-book-action address-book-action--rm"></div>
            <button id="confirm-address" class="btn-small">Choose</button>
        </div>
    </div>
</div>