<div id="address-manager-add" class="overlay-popup overlay-popup--address-manager-add">
    <div class="inner sh-block">
        <div class="popup-close"></div>
        <h4 class="sh-border">Create address</h4>
        <div class="address-book-actions">
            <form id="form--address-manager-add">
                <div class="sucs-msg status-msg"></div>
                <div class="err-msg status-msg"></div>
                <div class="form-item form-item--label form-item-icon form-item-icon--label">
                    <label>Label</label>
                    <input type="text" placeholder="Label" required>
                </div>
                <div class="form-item form-item--password form-item-icon form-item-icon--keylock">
                    <label>password</label>
                    <input type="password" placeholder="Password" value="stanstan" required>
                </div>
                <div class="form-item form-item--password-confirm form-item-icon form-item-icon--keylock">
                    <input type="password" placeholder="Confirm Password" value="stanstan" required minlength="8">
                </div>
                <div class="form-actions align-right">
                    <button class="form-submit btn-small">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>