<div id="address-book-add" class="overlay-popup overlay-popup-small overlay-popup-child overlay-popup--address-book-add">
    <div class="inner sh-block">
        <div class="popup-close"></div>
        <h4 class="sh-border">Add new address</h4>
        <form id="address-book-add-form">
            <div class="form-item form-item--label">
                <label for="addr-book-add-label">Label</label>
                <input name="label" id="addr-book-add-label" type="text" placeholder="Label this address" required>
            </div>
            <div class="form-item form-item--address">
                <label for="addr-book-add-address">Address</label>
                <input id="addr-book-add-address" type="text" placeholder="Enter a valid address" required>
            </div>
            <div class="form-actions align-right">
                <button class="form-submit btn-small">Add</button>
            </div>
        </form>
    </div>
</div>