<div id="password-confirm--claim-staking" class="overlay-popup overlay-popup--password-confirm">
    <div class="inner sh-block">
        <div class="popup-close"></div>
        <h4 class="sh-border">Confirm password</h4>
        <div class="address-book-actions">
            <form id="form--password-confirm--claim-staking">
                <div class="sucs-msg status-msg"></div>
                <div class="err-msg status-msg"></div>
                <div class="tx-summary">
                    <div class="confirm-action"></div>
                </div>
                <div class="form-item form-item--password form-item-icon form-item-icon--keylock">
                    <input type="password" placeholder="Password" value="stanstan" required>
                </div>
                <button class="stan-action--claim-rewards form-submit">Claim rewards</button>
            </form>
        </div>
    </div>
</div>