<div id="unbond" class="overlay-popup overlay-popup--unbond">
    <div class="inner sh-block">
        <div class="popup-close"></div>
        <h4 class="sh-border">Unbond</h4>
        <form id="form--unbond">
            <div class="sucs-msg status-msg"></div>
            <div class="err-msg status-msg"></div>
            <div class="form-item form-item--amount form-item-icon form-item-icon--currency">
                <label>Amount to unbond</label>
                <input type="number" placeholder="0.00" step="0.001" required>
            </div>
            <div class="form-actions align-right">
                <button class="form-submit btn-small popup-trigger popup-trigger-custom-handler popup-trigger--password-confirm--unbond" stan-popup="password-confirm--unbond">Confirm</button>
            </div>
        </form>
    </div>
</div>